.product{
    display: flex;
    margin: 10px;
    height: auto;
    flex-wrap: wrap;
     
}
.left{
    overflow: hidden;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    height: 380px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-text{
    margin-top: -10px;
}
img{
    height:300px;
    width: 300px;
    object-fit: cover;
}
.card-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left:10px;
    margin-right: 10px;
    padding: 0 10px;
}

.Ingredients > p{
    margin: 0;
}
.Ingredients > h4{
    color:rgb(24, 146, 30);
    border-left: 3px solid rgb(31, 83, 70);
}
.right{
    padding: 10px 20px;
    margin: 10px;
    width: 500px;
    height: 350px;
    overflow-y: auto;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.li{
   display: flex;
   align-items: baseline;
   justify-content: flex-start;
   padding: 2px;
   margin: 10px;
}
@media screen and (width<590px) {
   .left,.right{
         width:270px;
         height: auto;
   }
}